.comment-form {
  width: 30rem;
  margin: 2rem auto;
  max-width: 80%;
}

.form-control label,
.form-control input ,
.form-control textarea{
  display: block;
  width: 100%;
}

.form-control input {
  font: inherit;
  padding: 0.1rem 0.25rem;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1rem;
}
.form-control textarea{
  padding: 0.1rem 0.25rem;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1rem;
  min-height: 50px;
}

.form-control input:focus, .form-control textarea:focus {
  outline: none;
  border-bottom-color: #F45B69;
}

.ingredient-form__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
