.search {
  width: 25rem;
  margin: 0 auto;
  margin-right: 0;
  max-width: 90%;
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.search-input input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.15rem 0.25rem;
}

.search-input input:focus {
  outline: none;
  border-color: #F45B69;
}

@media (min-width: 768px) {
  .search-input {
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .search{
    max-width: 100%;
  }
}
